.form__header {
    font-size: 250%;
    margin: 5% 0 10% 0;
    text-align: center;
}

.form__article {
    border-bottom: 1px solid rgb(50, 50, 50);
    padding: 5% 0;
}

.form__section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    margin: 20px 0;
}

.form__label {
    font-size: 150%;
    display: flex;
    align-items: center;
}

.for__label--required::before {
    content: '*';
    color: red;
}

.form__input {
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.form__textarea {
    resize: vertical;
    font-size: 16px;
    padding: 5px;
    border: 1px solid black;
}

.form__select {
    width: 40%;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAASCAIAAADDkPmOAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACBSURBVDhPvdBbDoAgDERR97/pOoFrAvIqAp7EGNvpfHhZcG1F5/be6FDtDw7+ED3b2+mML2G8jLq0WlguoCjIPoTIJ1Q83t9CcBLHicpIiLtxlqtPhSMHDgrNhXDaRbSmtxMKGgg1DNZCTYF12zghlCVYdLlCQmXAaMSbk6leM7sB4bWFl0d/6qQAAAAASUVORK5CYII=") 95% 50%;
    background-size: 7%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.form__button {
    width: 40%;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: 1px dashed black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: white;
    cursor: pointer;
}

.form__button--add {
    padding: 1% 2%;
    margin-left: 10px;
    border-radius: 5px;
    border: 0;
    text-align: center;
    background: green;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.form__button--delete {
    padding: 1% 2%;
    margin: 2%;
    border-radius: 5px;
    border: 0;
    text-align: center;
    background: red;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.form__file {
    display: none;
}

.form__image {
    position: relative;
    border-radius: 10px;
    border: 1px dashed black;
    width: 60%;
    z-index: 10;
}

.form__image-sample {
    width: 96%;
    border-radius: 10px;
    margin: 2%;
}

.form__image-delete {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px dashed black;
    background-color: white;
    cursor: pointer;
}

.form__separator {
    width: 100%;
    color: white;
    box-shadow: 0px 0px 15px rgb(200, 200, 200);
    margin: 7% 0
}

.form__submit {
    width: 60%;
    height: 70px;
    margin: 10% 20% 1% 20%;
    font-size: 150%;
    font-family: 'Merriweather', serif;
    background-color: rgb(168, 0, 0);
    color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.form__error {
    color: red;
    font-size: 80%;
    margin-top: 5px;

    display: inline-block;
    width: 100%;
    text-align: center;
}

.form__submit--error {
    cursor: not-allowed;
}

.form__direction {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 20px 0
}

.form__link {
    color: rgb(168, 0, 0);
}

.form-ingredient, .form-direction, .form-hint {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.form-ingredient__name {
    font-size: 24px;
    padding: 1%;
    width: 40%;
    border: 1px solid black;
    border-right: 1px solid gray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.form-ingredient__quantity {
    font-size: 24px;
    padding: 1%;
    width: 26%;
    border: 1px solid black;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    margin-left: -1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-ingredient__unit {
    font-size: 24px;
    padding: 1%;
    width: 10%;
    border: 1px solid black;
    border-left: 1px solid gray;
    margin-left: -1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.form-hint__text, .form-direction__text {
    width: 80%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
    font-size: 150%;
    resize: vertical;
}



.form__photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  
  .form__photo {
    width: 100%;
  }