.recipe__header {
  font-size: 250%;
  margin: 5px 0;
  text-align: center;
}

.recipe__title {
  text-decoration: none;
  color: black;
}

.recipe__author {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 70%;
  color: black;
}

.recipe__user {
  color: black;
  text-decoration: none;
}

.recipe__delete {
  background: transparent;
  color: red;
  border: 0;
  margin: auto 5px;
  cursor: pointer;
  text-decoration: none;
}

.recipe__edit {
  background: transparent;
  color: green;
  border: 0;
  margin: auto 5px;
  cursor: pointer;
  text-decoration: none;
}

.recipe__photo {
  width: 100%;
}

.recipe__section {
  text-align: center;
  margin: 10px;
}

.recipe__stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.recipe__rating-description {
  text-align: center;
  font-size: 80%;
}

.recipe__star {
  width: 25px;
  opacity: 1;
}

.recipe__star--low {
  opacity: 0.5;
}

.recipe__star:hover {
  width: 35px;
  opacity: 1;
}

.recipe__rating-button--delete {
  border: 0;
  background: transparent;
  color: red;
  margin-left: 5px;
  cursor: pointer;
}